@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
   }
a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 20px;
    background-color: brown;
    color: white;
    width: 100%;
}
a:hover{
    background-color: darkred;
    transition: .3s;
}
